<%- contentFor( 'contentPage' ) %>

    <!-- Navbar -->
    <%- include('../partials/navbar', {page: "historico" }) %>

    <!-- Tela de histórico -->
    <% if (reservations==null) { %>
        <div class="alert alert-primary w-75 mt-3" style="margin: auto;" role="alert">
            <i class="mx-1" data-feather="info"></i>
            Não há reservas no histórico!
        </div>
    <% }else{ %>
        <!-- Pedidos -->
        <table class="table w-75 mt-5" style="margin:auto; text-align: center;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Matrícula/Siape</th>
                            <!-- <th scope="col">Telefone</th> -->
                    <th scope="col">Sala</th>
                    <th scope="col">Data</th>
                    <th scope="col">Empréstimo</th>
                    <th scope="col">Devolução</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i=0; i < reservations.length; i++ ) { %>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= reservations[i].data.nameUser %>
                        </td>
                        <td>
                            <%= reservations[i].data.uid %>
                        </td>
                                <!-- <td> -->
                                <%#= reservations[i].data.telefone %>
                                    <!-- </td> -->
                        <td>
                            <%= reservations[i].data.roomName %>
                        </td>
                        <td>
                            <%= reservations[i].data.date %>
                        </td>
                        <td>
                            <%= reservations[i].data.checkin %>
                        </td>
                        <td>
                            <span class="<%= (reservations[i].data.status=="PERMITIDO")?" badge rounded-pill":""%>" style="<%= (reservations[i].data.status=="PERMITIDO")?"background:var(--corDetalhes); color:var(--corFonteClara)":""%>">
                                <%= (reservations[i].data.status=="PERMITIDO")?"Não finalizada":reservations[i].data.checkout%>
                            </span>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>