<%- contentFor( 'contentPage' ) %>

    <!-- Navbar -->
    <%- include('../partials/navbar', {page: "historico"}) %>

        <!-- Pedidos -->
        <table class="table w-75 mt-5" style="margin:auto; text-align: center;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Matrícula/Siape</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Data</th>
                    <th scope="col">Empréstimo</th>
                    <th scope="col">Devolução</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i=0; i < reservations.length; i++ ) { %>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= reservations[i].nome %>
                        </td>
                        <td>
                            <%= reservations[i].idAcademico %>
                        </td>
                        <td>
                            <%= reservations[i].telefone %>
                        </td>
                        <td>
                            <%= reservations[i].salaNome %>
                        </td>
                        <td>
                            <%= reservations[i].date %>
                        </td>
                        <td>
                            <%= reservations[i].checkin %>
                        </td>
                        <td>
                            <span class="<%= (reservations[i].checkout==null)?"badge rounded-pill":""%>" style="<%= (reservations[i].checkout==null)?"background: var(--corDetalhes); color:var(--corFonteClara)":""%>">
                                <%= (reservations[i].checkout==null)?"Não finalizada":reservations[i].checkout %>
                            </span>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>