<%- contentFor( 'contentPage' ) %>

    <!-- Navbar -->
    <%- include("../partials/navbar") %>

        <!-- Home -->
        <div class="container mt-3 mt-md-5">
            <div class="mt-md-1">
                <h3>Térreo</h3>
                <% rooms.forEach(room=> { %>
                    <% if(room.position == 0) { %>
                        <div class="card sala mx-1 mb-2" style="width: 11rem; height: 6rem; background-color: var(--corSalas);">
                            <div class="card-body">
                                <h4>
                                    <%= room.name %>
                                </h4>
                                <span class="tag-status <%=(room.status == "disponível")?"disponivel":"ocupado" %> px-2
                                    pb-1" style="margin-right:10px;"> <%= room.status %></span>
                                <button id="btn-plus" type="button" class="btn" color="$white" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal<%= room.id %>">
                                    <i style="width: 20px; height: 20px; margin-left:-8px; margin-top:-9px;"
                                        data-feather="plus"></i>
                                </button>
                            </div>
                        </div>
                    <% } %>
                    <% }); %>
            </div>
        </div>
        