<%- contentFor( 'contentPage' ) %>

    <!-- Navbar -->
    <%- include('../partials/navbar', {page: "pedidos" }) %>

    <!-- Tela de pedidos -->
    <% if (reservations == null) { %>
        <div class="alert alert-primary w-75 mt-3" style="margin: auto;" role="alert">
            <i class="mx-1" data-feather="info"></i>
            Não há pedidos de reserva no momento!
        </div>
    <% }else{ %>
        <!-- Pedidos -->
        <table class="table w-75 mt-5" style="margin:auto; text-align: center;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Matrícula/Siape</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Permissão</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i=0; i < reservations.length; i++ ) { %>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= reservations[i].data.nameUser %>
                        </td>
                        <td>
                            <%= reservations[i].data.uid %>
                        </td>
                        <td>
                            <%= reservations[i].data.roomName %>
                        </td>
                        <td>
                            <button value="<%= reservations[i].id %>" type="button" class="btn btn-sm" style="background-color:var(--corPrincipal); color: var(--corFonteClara);" onclick="window.location.href = `/alowReservation/${this.value}`">Permitir</button>
                            <button type="button" class="btn btn-sm" style="border: 1px solid var(--corDetalhes); color: var(--corDetalhes);">Negar</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
                    