<%- contentFor('contentPage') %>

<div id="container-home" class="container component">

  <!-- Topo -->
  <%- include("../partials/topo", { pos: 0 }) %>


 <!-- Salas -->
<div class="container-salas mt-4 mt-md-5">
    <div class="mt-md-1">
        <!-- Sala -->
        <% for (let i = 0; i < rooms.length; i++){ %>
                <div class="sala <%= ((i%2) == 0)?"esquerda":"direita" %> py-3 px-3">
                    <h4><%= rooms[i].data.name %></h4>
                    <span class="tag-status <%= (rooms[i].data.status == "disponível")?"disponivel px-1":"ocupado px-2" %>" style="margin-right:10px;"><%= rooms[i].data.status %></span>
                    <button id="btn-plus" type="button" class="btn" color="$white" data-bs-toggle="modal" data-bs-target="#salaModal<%= rooms[i].data.order %>">
                    <i style="width: 20px; height: 20px; margin-left:-8px; margin-top:-9px;" data-feather="plus"></i>
                    </button>
                </div>
            <% } %>

        <!-- Salas fantasmas -->
        <div class="sala sala-fantasma py-5 px-3"></div>
        <div class="sala sala-fantasma py-5 px-3"></div>
    </div>
</div>

<!-- Modal Sala-->
    <%- include('../partials/info-sala',{ rooms: rooms }) %>

<!-- Modal Confirmar Reserva -->
    <%- include('../partials/confirmar-reserva',{ rooms: rooms })%>

  <!-- Offcanvas Filtros  -->
  <%- include("../partials/offcanvas-filtros",{pos: 0}) %>

</div>

<%- include('../partials/navbar', {page: "home", authUser: authUser})%>