<%- contentFor('contentPage') %>

<div id="container-home" class="container component">

  <!-- Topo -->
  <div class="mt-5 mb-5 container-topo">
    <!-- Andar atual -->
    <% let pos = 0 %>
    <span id="andar-atual" class="dropdown d-grid gap-2 col-5 col-md-3 col-lg-2" style="width: 155px;" onchange="getRoomsByPosition(this.value)">
      <select class="form-select" aria-label="Default select example" onchange="trocaSala(this.value)" >
        <option value="0" selected>Térreo</option>
        <option value="1">1º andar</option>
        <option value="2">2º andar</option>
      </select>
    </span>
    <!-- Botão dos Filtros -->
    <span id="filtros" class="d-grid gap-2 col-4 col-md-3 col-lg-2">
      <button id="btn-login" class="btn" color="$white" style="height: 48px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="mb-1" data-feather="filter"></i>
        Filtros
      </button>
    </span>
  </div>


  <!-- Salas -->
  <div class="container-salas mt-3 mt-md-5">
    <div class="mt-md-1">
      <% let cont = 0 %>
      <% rooms.forEach(function(room){ %>
      <% if(room.position == pos) { %>
      <div class="sala <%= ((cont%2) == 0)?"direita":"esquerda" %> py-3 px-3">
        <h4><%= room.name %></h4>
        <!-- <span class="tag-status disponivel " style="margin-right:10px;"><%= (room.status!=undefined)?room.status:"disponível" %></span> -->
        <button id="btn-plus" type="button" class="btn" color="$white" data-bs-toggle="modal" data-bs-target="#exampleModal<%= room.id %>">
          <i style="width: 20px; height: 20px; margin-left:-8px; margin-top:-9px;" data-feather="plus"></i>
        </button>
      </div>
      <% cont++ %>
      <% } %>
      <% }); %>

      <!-- Sala fantasma -->
      <div class="sala sala-fantasma py-3 px-3">
      </div>
    </div>
  </div>

  <!-- Modal Sala-->
  <% rooms.forEach(function(room){ %>
    <% if(room.position == pos) { %>
    <!-- Modal Sala-->
    <div class="modal fade" id="exampleModal<%= room.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
            <h3><%= room.name %></h3>
            <span class="status-sala" style=<%= (room.status == "disponível")?"color:var(--corVerde);":"color:var(--corVermelho);" %>F>
              <i class="feather" data-feather=<%= (room.status == "disponível")?"check":"x-circle" %> width="18" height="18"></i>
              <%= room.status %>
            </span>
          </div>
          <div class="modal-body">
            <div class="informacoes-sala">
              <h5 class="topico">Tipo de sala:</h5>
              <h5 class="conteudo"><%= room.roomType %></h5>
    
              <h5 class="topico">Quantidade de espaços:</h5>
              <h5 class="conteudo"><%= room.roomCapacity %></h5>
    
              <h5 class="topico">Contém:</h5>
              <% room.contains.forEach(content => { %>
              <h5 class="conteudo"><%= content %></h5>
              <% }); %>
              <% if(room.status == "ocupado") { %>
              <h5 class="topico">Ocupado por:</h5>
              <h5 class="conteudo"><%= room.userOccupying %></h5>
              <% } %>
    
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary <%= (room.status == "ocupado")?"disabled":"" %> ">Solicitar</button>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <% }); %>

  <!-- Offcanvas Filtros  -->
  <%- include("../partials/offcanvas-filtros") %>

</div>

<%- include('../partials/navbar') %>