<%- contentFor('contentPage') %>

    <div id="container-reservas" class="component container">


        <h4 class="titulo">Reservas</h4>

        <div class="campo-reserva mt-5">
            <h4 class="titulo-reserva mb-2">Reservas atuais:</h4>
            <% if (reservation==null) { %>
                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <i class="feather" data-feather="info" width="24" height="24"></i>
                    <div class="px-1">
                        Você não possui reservas atuais!
                    </div>
                </div>
            <% }else{ %>
                <div class="card" style="width: 100%; text-align:center;">
                    <div class="card-body">
                        <h5 class="card-title mb-0"><%= reservation.data.roomName %></h5>
                        <span class="status-sala" style="color: var(--corPrincipal); vertical-align: auto;">
                            <i class="feather" data-feather="bookmark" width="18" height="18"></i>
                            <span>Você está reservando</span>
                        </span>
                        <p class="card-text mt-3 mb-4 w-50" style="margin:auto;">Sua reserva acabará em <strong>30 minutos</strong></p>
                        <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#transferirModal">Tranferir chave</button>
                        <button value="<%= reservation.id %>" class="btn btn-primary" onclick="window.location.href =`/finalizeReservation/${this.value}`">Finalizar</button>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="campo-reserva mt-5">
            <h4 class="titulo-reserva mb-2">Reservas futuras:</h4>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <i class="feather" data-feather="info" width="24" height="24"></i>
                <div class="px-1">
                    Você não possui reservas futuras!
                </div>
            </div>
        </div>

        <%- include('../partials/transferencia') %>
    </div>


    <!-- NavBar -->
    <%- include('../partials/navbar', {page: "reservas" })%>