<% rooms.forEach(function(room){ %>
<% if(room.position == 0) { %>
<!-- Modal Sala-->
<div class="modal fade" id="exampleModal<%= room.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <h3><%= room.name %></h3>
        <span class="status-sala" style=<%= (room.status == "disponível")?"color:var(--corVerde);":"color:var(--corVermelho);" %>F>
          <i class="feather" data-feather=<%= (room.status == "disponível")?"check":"x-circle" %> width="18" height="18"></i>
          <%= room.status %>
        </span>
      </div>
      <div class="modal-body">
        <div class="informacoes-sala">
          <h5 class="topico">Tipo de sala:</h5>
          <h5 class="conteudo"><%= room.roomType %></h5>

          <h5 class="topico">Quantidade de espaços:</h5>
          <h5 class="conteudo"><%= room.roomCapacity %></h5>

          <h5 class="topico">Contém:</h5>
          <% room.contains.forEach(content => { %>
          <h5 class="conteudo"><%= content %></h5>
          <% }); %>
          <% if(room.status == "ocupado") { %>
          <h5 class="topico">Ocupado por:</h5>
          <h5 class="conteudo"><%= room.userOccupying %></h5>
          <% } %>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary <%= (room.status == "ocupado")?"disabled":"" %> ">Solicitar</button>
      </div>
    </div>
  </div>
</div>
<% } %>
<% }); %>